@import url("https://fonts.googleapis.com/earlyaccess/nicomoji.css");

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 150px;
  font-family: "Nico Moji", sans-serif;
}

.logo img {
  height: 70px;
}

.navLinks {
  display: flex;
  gap: 57px;
}

.navLinks a {
  text-decoration: none;
  font-weight: bold;
  color: white;
}

.resume a {
  text-decoration: none;
  font-weight: bold;
  color: white;
}
