.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;

  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

.logo img {
  height: 40px;
}

.navLinks {
  display: flex;
  gap: 35px;
}

.navLinks a {
  text-decoration: none;
  font-weight: bold;
  color: white;
}

.resume a {
  text-decoration: none;
  font-weight: bold;
  color: white;
}
