body {
  margin: 0;
  padding: 0;
  background-color: #1a1a1a;
}
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -200px;
}
.heroImg {
  height: 913px;
  width: 550px;
  margin-left: 200px;
}

.hero-intro {
  margin-top: 70px;
  color: #f5b106;
}
.arrow {
  height: 20px;
  position: absolute;
  top: 52%;
  left: 64%;
}

.hero-intro-p {
  margin-left: -65px;
  line-height: 4px;
}
